fastapi
uvicorn
python-dotenv
python-multipart
SQLAlchemy
pydantic
langchain
langchain-core
langchain-community
langchain-google-genai
langchain-chroma
langgraph
langgraph-checkpoint
chromadb
pypdf
langchain-huggingface
sentence-transformers
